<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.eafellows.eaglossary"
        version   = "1.0">
    <name>EA Glossary</name>

    <description>
        Glossary of enterprise architecture terms and concepts. Sources are EA3, FEAF-II and ISO42010.
    </description>

    <author href="http://eafellows.com" email="john@gotzespace.dk">
        EA Fellows
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <icon src="icon.png" />
    <gap:splash src="splash.png" />
</widget>