<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.eafellows.eaglossary"
        version   = "1.2">
    <name>EA Glossary</name>

    <description>
        Glossary of enterprise architecture terms and concepts. Sources are EA3, FEAF-II, TOGAF and ISO42010.
    </description>

    <author href="http://eafellows.com" email="john@gotzespace.dk">
        EA Fellows
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />
	<preference name="splash-screen-duration" value="900"/>

    <icon src="icon.png" />
    <icon src="icon36x36.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="icon48x48.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="icon72x72.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="icon98x98.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="icon57x57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="icon72x72.png"            gap:platform="ios"        width="72" height="72" />
    <gap:splash src="splash.png" />
</widget>
